@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/site.js"
        asp-append-version="true"></script>

<div class="text-center">
    <h1 class="display-4">Элементарно! (или не совсем)</h1>
    <div>
        <label>
            Периодический закон и периодическая система Д. И. Менделеева. Электронный период в развитии химии.
        </label>
    </div>

    <button class="btn btn-success"
            onclick="startGame()">начинаем
    </button>

    <div id="page-1"
         class="game-page">
        <button class="btn btn-info"
                onclick="setMode(1)">Одиночный
        </button>
        <button class="btn btn-info"
                onclick="setMode(2)">Командный
        </button>
        <button class="btn btn-info"
                onclick="getQuestion()">поехали
        </button>
        <div id="QuestionBlock">
        </div>
    </div>
    <div id="page-2"
         class="game-page">
        <button class="btn btn-info"
                onclick="setSkin(1)">выбрать скин
        </button>
        <button class="btn btn-success"
                style="display:block;"
                onclick="ruletkaStart()">123123
        </button>
        <div>pimpa</div>
        <img id="ruletka"
             src="~/images/ruletka.png"
             style="width: 250px;" />
    </div>
    <div id="page-3"
         class="game-page">
        <button class="btn btn-info"
                onclick="setLevel(1)">Начальный
        </button>
        <button class="btn btn-info"
                onclick="setLevel(2)">Продвинутый
        </button>
    </div>
    <div id="page-4"
         class="game-page">
        <button class="btn btn-info"
                onclick="getQuestion()">поехали
        </button>
    </div>
</div>
