@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/site.js"
        asp-append-version="true"></script>

<div class="text-center"
     style="display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
">
    @*<h1 class="display-4">Элементарно! (или не совсем)</h1>
    <div>
        <label>
            Периодический закон и периодическая система Д. И. Менделеева. Электронный период в развитии химии.
        </label>
    </div>*@
    <div>
        <label id="TeamNumber">

        </label>
        <div id="TeamTitle">
            <label id="TeamTitleName">

            </label>
            <image id="TeamTitleImage" style="width: 50px">

            </image>
        </div>
    </div>
    <div id="AdminButtons" class="hidden">
@*         <button class="btn btn-info"
                onclick="setSkin(1)">
            выбрать скин
        </button> *@
        <button class="btn btn-success"
                onclick="initGame()">
            инициализация
        </button>
        <button class="btn btn-success"
                onclick="spinWheel()">
            Крутить колесо
        </button>
        <button class="btn btn-success"
                onclick="startGame()">
            начинаем
        </button>
    </div>

    <div id="page-1"
         class="game-page">
        <h2>Выбор режима</h2>
        <button class="btn btn-info"
                onclick="setMode(true)">
            Одиночный
        </button>
        <button class="btn btn-info"
                onclick="setMode(false)">
            Командный
        </button>
    </div>

    <div id="page-2"
         class="game-page hidden">
        <h2>Колесо фортуны</h2>
        <div id="RuletkaHolder" style="position: relative; width: 250px; margin-top: 100px;margin-left: auto; margin-right: auto;">
            <img id="ruletka"
                 src="~/images/ruletka.png"
                 style="width: 250px;    position: relative;
    z-index: 122;" />
        </div>
    </div>

    <div id="page-3"
         class="game-page hidden">
        <h2>Выбор уровня</h2>
        <button class="btn btn-info"
                onclick="setLevel(1)">
            Начальный
        </button>
        <button class="btn btn-info"
                onclick="setLevel(2)">
            Продвинутый
        </button>
    </div>

    <div id="page-4"
         class="game-page hidden">
        <div id="QuestionBlock"
             class="question-container">
        </div>
        <div id="Explanation"
             class="explanation-container">
        </div>
        <div id="AnswerBlock"
             class="answer-container hidden">
        </div>
    </div>

    <div id="page-5"
         class="game-page hidden">
        <div id="StatBlock">
        </div>
    </div>
</div>
