@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/site.js"
        asp-append-version="true"></script>

<div class="text-center">
    @*<h1 class="display-4">Элементарно! (или не совсем)</h1>
    <div>
        <label>
            Периодический закон и периодическая система Д. И. Менделеева. Электронный период в развитии химии.
        </label>
    </div>*@

    <div>
        DEBUG:
        <button class="btn btn-info"
                onclick="setSkin(1)">выбрать скин
        </button>
        <button class="btn btn-success"
                onclick="startGame()">начинаем
        </button>
    </div>

    <div id="page-1"
         class="game-page">
        <h2>Выбор режима</h2>
        <button class="btn btn-info"
                onclick="setMode(1)">Одиночный
        </button>
        <button class="btn btn-info"
                onclick="setMode(2)">Командный
        </button>
    </div>

    <div id="page-2"
         class="game-page hidden">
        <h2>Колесо фортуны</h2>
        <img id="ruletka"
             src="~/images/ruletka.png"
             style="width: 250px;" />
        <button class="btn btn-success"
                onclick="spinWheel()">Крутить колесо
        </button>
    </div>

    <div id="page-3"
         class="game-page hidden">
        <h2>Выбор уровня</h2>
        <button class="btn btn-info"
                onclick="setLevel(1)">Начальный
        </button>
        <button class="btn btn-info"
                onclick="setLevel(2)">Продвинутый
        </button>
    </div>

    <div id="page-4"
         class="game-page hidden">
        <div id="QuestionBlock"
             class="question-container">
        </div>
        <div id="AnswerBlock"
             class="answer-container hidden">
            <div id="Explanation"></div>
            <button class="btn btn-success"
                    onclick="nextQuestion()">Следующий вопрос
            </button>
        </div>
    </div>
</div>
