@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/site.js" asp-append-version="true"></script>

<div class="text-center">
    <h1 class="display-4">Элементарно! (или не совсем)</h1>
    <div>
        <label>Периодический закон и периодическая система Д. И. Менделеева. Электронный период в развитии химии.</label>
    </div>

    <button class="btn btn-success" onclick="startGame()">начинаем</button>

    <div id="page-1" class="game-page">
        <button class="btn btn-info" onclick="setMode(1)">Одиночный</button>
        <button class="btn btn-info" onclick="setMode(2)">Командный</button>
        <button class="btn btn-info" onclick="getQuestion()">поехали</button>
        <div id="QuestionBlock">
        </div>
    </div>
    <div id="page-2" class="game-page">
        <button class="btn btn-info" onclick="setSkin(1)">выбрать скин</button>
        <button class="btn btn-success" style="display:block;" onclick="ruletkaStart()">123123</button>
        <div>pimpa</div>
        <img id="ruletka" src="~/images/ruletka.png" style="width: 250px;" />
    </div>
    <div id="page-3" class="game-page">
        <button class="btn btn-info" onclick="setLevel(1)">Начальный</button>
        <button class="btn btn-info" onclick="setLevel(2)">Продвинутый</button>
    </div>
    <div id="page-4" class="game-page">
        <button class="btn btn-info" onclick="getQuestion()">поехали</button>
    </div>
</div>

<script>

</script>

<style>
    .animation {
        /* transform: rotate(360deg);*/
        /* transition: all 1s ease-in; */
    }

    .hidden {
        display: none;
    }

    .game-page {
        width: 100%;
        min-height: 200px;
    }

    #QuestionBlock {
        border: 1px solid;
        border-radius: 10px;
        margin: 5px;
        padding: 10px;
    }

        #QuestionBlock .options-table {
            width: 100%;
        }

            #QuestionBlock .options-table td {
                padding: 5px;
                border: 1px
            }

        #QuestionBlock .option-btn {
            border: 1px solid;
            border-radius: 10px;
        }

            #QuestionBlock .option-btn.active {
                background-color: darkgreen;
                color: white;
            }

    .alerts-body {
        position: fixed;
        top: 180px;
        z-index: 999992;
        width: 415px;
        right: 0;
        padding-right: 15px;
    }

    .alert .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
</style>