html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.animation {
    /* transform: rotate(360deg);*/
    /* transition: all 1s ease-in; */
}

.hidden {
    display: none;
}

.game-page {
    width: 100%;
    min-height: 200px;
}

#QuestionBlock {
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

    #QuestionBlock .options-table {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
    }

        #QuestionBlock .options-table td {
            padding: 5px;
            border: 1px
        }

    #QuestionBlock .option-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 60px;
        padding: 15px;
        text-align: center;
        border: 1px solid;
        border: 1px solid #ddd;
        border-radius: 10px;
        background: #f0f0f0;
    }

        #QuestionBlock .option-btn.active {
            color: white;
            background-color: darkorange;
        }

        #QuestionBlock .option-btn.right-answer {
            color: white;
            background-color: darkgreen;
        }

    #QuestionBlock .confirm-btn {
        font-size: 20px;
        width: 100%;
        min-height: 60px;
        margin-top: 20px;
        border-radius: 10px;
    }

    #QuestionBlock .explanation {
        width: 100%;
        margin-top: 20px;
    }

.alerts-body {
    position: fixed;
    z-index: 999992;
    top: 180px;
    right: 0;
    width: 415px;
    padding-right: 15px;
}

.alert .close {
    position: absolute;
    top: 10px;
    right: 10px;
}
